body{
    background-color: rgba(111, 117, 115, 0.681);
}

h1{
    color:rgb(39, 39, 198);
}

.nav_bar {
    background-color: lightblue;
    text-align: center;
}

#main_header {
    font-family: Montserrat, sans-serif;
}
